<%- include('partials/header'); -%>

<section>
  <div class="title"><h1>Software Development</h1></div>
  <div class="course">
    <a href="/task1"><h1>Task 1: Read Introduction Note</h1></a>
  </div>
  <div class="course">
    <a href="/task2"><h1>Task 2: Frontend UI-UX</h1></a>
  </div>
  <div class="course">
    <a href="/task1"><h1>Task 3: Advanced CSS</h1></a>
  </div>
  <div class="course">
    <a href="/task2"><h1>
      Task 4: JavaScript Refresher</h1></a>
  </div>
  <div class="course">
    <a href="/task1"><h1>
      Task 5: Document Object Model (DOM)</h1></a>
  </div>
  <div class="course">
    <a href="/task2"><h1>Task 6: Backend vs Frontend vs FullStack</h1></a>
  </div>
  <div class="course">
    <a href="/task1"><h1>Task 7: NodeJS Intro</h1></a>
  </div>
  <div class="course">
    <a href="/task2"><h1>Task 8: NodeJs Basics | Clients & Servers</h1></a>
  </div>
  <div class="course">
    <a href="/task1"><h1>
      Task 9: Express.js Introduction</h1></a>
  </div>
  <div class="course">
    <a href="/task2"><h1>
      Task 10: MongoDB Introduction</h1></a>
  </div>
  <div class="course">
    <a href="/task1"><h1>
      Task 11: Node.js Auth Tutorial (JWT)</h1></a>
  </div>
  <div class="course">
    <a href="/task2"><h1>Task 12: Project Submission</h1></a>
  </div>
</section>

<%- include('partials/footer'); -%>