<%- include('partials/header'); -%>

<header class="head">
  <div class="smoothie">
    <img src="/vecteezy.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Learning that gets you</h2>
    <h3>Skills for your present (and your future). Get started with us.</h3>
    <a href="/course" class="btn">View Course</a>
  </div>
</header>
<section class="hero hero_1">
  <div>
    <h1>Industry Certificates</h1>
   <p>During this program you will gain 3 highly valued certificates including an internship certificate from STIGE.</p>
  </div>
   <img src="/home.png" alt="">
</section>

<section class="hero hero_2">
  <img src="/salesquared-book-a-demo.svg" alt="">
  <div>
    <h1>Upskilling</h1>
   <p>8 Weeks of intensive training & certifications through structured, industry vetted curriculum.</p>
   <h1>Live Projects</h1>
   <p>Build real, ready-to-ship products with team members, professionals & students from other tracks.</p>
   <h1>Workplace Skills</h1>
   <p>Build your resume,enhance your profile & get noticed by recruiters from top companies.</p>
  </div>  
</section>

<section class="contact">
  
</section>



<%- include('partials/footer'); -%>