<%- include('partials/header'); -%>
<section class="section3">
    <div class="profile"><img src="https://i.ibb.co/yNGW4gg/avatar.png" id="blah" alt="Avatar">
    <h3>Web Designer & Developer</h3>
    </td>
    <td>
    <ul>
    <li><b>Full name</b> <input type="text" value="john Doe "></i></li>
    <li><b>Email</b> <input type="email" name="email" id="email" maxlength="150" value="johnDoel@gmail.com" required /></li>
    <li><b>Contact number</b> <input type="tel" name="mobile" value="9393939399"></li>
    <li><b>Address</b> <input type="text" name="address" value="New York"></i>
    </ul>
    </td>
</tr>
<div class="btnn">
    <a href="/" class="btn2">Save</a>
</div>
</div>

</section>

<%- include('partials/footer'); -%>