<%- include('partials/header'); -%>

<section class="section1">
  <div class="title"><h1>Task 2: Frontend UI-UX</h1></div>
  <div class="Task"> 
    <img src="/image33.png">
    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/1PnVor36_40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <p>
      It’s a frontend developer’s job to design websites and apps and people rarely use apps that looks ugly or simply put, have a bad UI & UX. Therefore we are going to learn fundamentals of best UI & UX practice for a frontend developer.

      This module focuses on high level principles like color theory, typography, relative spacing, relative position & size and hierarchy.
      
      This module has helped developers make instant improvements like the actionable, specific tactics. This is like a bible for both a UI designer and a frontend developer
      
      Make sure to thoroughly complete each one before moving to the next part. Revisit, take notes, take screenshots. This module is full of actionable insights, nothing less than a UI designer’s dream! On this note, let’s kickoff the next module.
    </p>
    <div class="inner">
      <p class="p3">Your Task:</p> 
    <p class="">
      <h4>1.  Start planning on how you would use this module for your upcoming frontend project</h4>
      <h4>2.  Complete all 5 parts of this module & take notes until you have mastered them.</h4>
    </p>
    </div>
    
  <a href="/course" class="btn1">COMPLETE</a>
  </div>
</section>

<%- include('partials/footer'); -%>