<%- include('partials/header'); -%>

<section class="section1">
  <div class="title"><h1>Task 1: Read Introduction Note</h1></div>
  <div class="Task">
   <p class="p1">Hey Trainee,</p> 
    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/4NfFFsQC77M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <p>
        We hope you have been completing all the assignments allotted to you and have been learning a lot. In the previous week we covered the basics of frontend development along with a mini project to set the right foundations.
    
    In this week, we are going to cover advanced topics. These topics are absolutely essential to make you a great frontend developer from a good developer. Note that, mini project submission is mandatory before you start with this week’s modules.
    </p>
    <div class="inner">
      <p class="p2">All the very best for your Week 1!</p>
    </div> 
  <a href="/course" class="btn1">COMPLETE</a>
  </div>
</section>

<%- include('partials/footer'); -%>